#define IDM_New   101
#define IDM_Open  102
#define IDM_Save  103
#define IDM_Exit  104
#define IDM_Cut   201
#define IDM_Copy  202
#define IDM_Paste 203
#define IDM_About 301

MyMenu1 MENUEX DISCARDABLE
BEGIN
  POPUP "&File"        ,65535
  BEGIN
    MENUITEM "&New"    ,IDM_New
    MENUITEM "&Open"   ,IDM_Open
    MENUITEM "&Save"   ,IDM_Save
    MENUITEM SEPARATOR
    MENUITEM "E&xit"   ,IDM_Exit
  END
  POPUP "&Edit"        ,65535
  BEGIN
    MENUITEM "Cu&t"    ,IDM_Cut
    MENUITEM "&Copy"   ,IDM_Copy
    MENUITEM "&Paste"  ,IDM_Paste
  END
  POPUP "&Help"        ,65535
  BEGIN
    MENUITEM "&About"  ,IDM_About
  END
END

